html[data-v-3e405c],
body[data-v-3e405c],
div[data-v-3e405c],
span[data-v-3e405c],
object[data-v-3e405c],
iframe[data-v-3e405c],
h1[data-v-3e405c],
h2[data-v-3e405c],
h3[data-v-3e405c],
h4[data-v-3e405c],
h5[data-v-3e405c],
h6[data-v-3e405c],
p[data-v-3e405c],
blockquote[data-v-3e405c],
pre[data-v-3e405c],
abbr[data-v-3e405c],
address[data-v-3e405c],
cite[data-v-3e405c],
code[data-v-3e405c],
del[data-v-3e405c],
dfn[data-v-3e405c],
em[data-v-3e405c],
img[data-v-3e405c],
ins[data-v-3e405c],
kbd[data-v-3e405c],
q[data-v-3e405c],
samp[data-v-3e405c],
small[data-v-3e405c],
strong[data-v-3e405c],
sub[data-v-3e405c],
sup[data-v-3e405c],
var[data-v-3e405c],
b[data-v-3e405c],
i[data-v-3e405c],
dl[data-v-3e405c],
dt[data-v-3e405c],
dd[data-v-3e405c],
ol[data-v-3e405c],
ul[data-v-3e405c],
li[data-v-3e405c],
fieldset[data-v-3e405c],
form[data-v-3e405c],
label[data-v-3e405c],
legend[data-v-3e405c],
table[data-v-3e405c],
caption[data-v-3e405c],
tbody[data-v-3e405c],
tfoot[data-v-3e405c],
thead[data-v-3e405c],
tr[data-v-3e405c],
th[data-v-3e405c],
td[data-v-3e405c],
article[data-v-3e405c],
aside[data-v-3e405c],
canvas[data-v-3e405c],
details[data-v-3e405c],
figcaption[data-v-3e405c],
figure[data-v-3e405c],
footer[data-v-3e405c],
header[data-v-3e405c],
hgroup[data-v-3e405c],
menu[data-v-3e405c],
nav[data-v-3e405c],
section[data-v-3e405c],
summary[data-v-3e405c],
time[data-v-3e405c],
mark[data-v-3e405c],
audio[data-v-3e405c],
video[data-v-3e405c] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-3e405c] {
  line-height: 1;
}
article[data-v-3e405c],
aside[data-v-3e405c],
details[data-v-3e405c],
figcaption[data-v-3e405c],
figure[data-v-3e405c],
footer[data-v-3e405c],
header[data-v-3e405c],
hgroup[data-v-3e405c],
menu[data-v-3e405c],
nav[data-v-3e405c],
section[data-v-3e405c] {
  display: block;
}
nav ul[data-v-3e405c] {
  list-style: none;
}
blockquote[data-v-3e405c],
q[data-v-3e405c] {
  quotes: none;
}
blockquote[data-v-3e405c]:before,
blockquote[data-v-3e405c]:after,
q[data-v-3e405c]:before,
q[data-v-3e405c]:after {
  content: '';
  content: none;
}
a[data-v-3e405c] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-3e405c] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-3e405c] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-3e405c] {
  text-decoration: line-through;
}
abbr[title][data-v-3e405c],
dfn[title][data-v-3e405c] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-3e405c] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-3e405c] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-3e405c],
select[data-v-3e405c] {
  vertical-align: middle;
}
img[data-v-3e405c],
video[data-v-3e405c] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-3e405c] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.wrapper[data-v-3e405c] {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
.wrapper[data-v-3e405c] {
    padding: 6.666666666666667vw;
}
}
.title[data-v-3e405c] {
  display: block;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  font-family: 'ComicSansMS3', 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.title[data-v-3e405c] {
    width: 100%;
    font-size: 15.333333333333332vw;
}
}

html[data-v-5c646f],
body[data-v-5c646f],
div[data-v-5c646f],
span[data-v-5c646f],
object[data-v-5c646f],
iframe[data-v-5c646f],
h1[data-v-5c646f],
h2[data-v-5c646f],
h3[data-v-5c646f],
h4[data-v-5c646f],
h5[data-v-5c646f],
h6[data-v-5c646f],
p[data-v-5c646f],
blockquote[data-v-5c646f],
pre[data-v-5c646f],
abbr[data-v-5c646f],
address[data-v-5c646f],
cite[data-v-5c646f],
code[data-v-5c646f],
del[data-v-5c646f],
dfn[data-v-5c646f],
em[data-v-5c646f],
img[data-v-5c646f],
ins[data-v-5c646f],
kbd[data-v-5c646f],
q[data-v-5c646f],
samp[data-v-5c646f],
small[data-v-5c646f],
strong[data-v-5c646f],
sub[data-v-5c646f],
sup[data-v-5c646f],
var[data-v-5c646f],
b[data-v-5c646f],
i[data-v-5c646f],
dl[data-v-5c646f],
dt[data-v-5c646f],
dd[data-v-5c646f],
ol[data-v-5c646f],
ul[data-v-5c646f],
li[data-v-5c646f],
fieldset[data-v-5c646f],
form[data-v-5c646f],
label[data-v-5c646f],
legend[data-v-5c646f],
table[data-v-5c646f],
caption[data-v-5c646f],
tbody[data-v-5c646f],
tfoot[data-v-5c646f],
thead[data-v-5c646f],
tr[data-v-5c646f],
th[data-v-5c646f],
td[data-v-5c646f],
article[data-v-5c646f],
aside[data-v-5c646f],
canvas[data-v-5c646f],
details[data-v-5c646f],
figcaption[data-v-5c646f],
figure[data-v-5c646f],
footer[data-v-5c646f],
header[data-v-5c646f],
hgroup[data-v-5c646f],
menu[data-v-5c646f],
nav[data-v-5c646f],
section[data-v-5c646f],
summary[data-v-5c646f],
time[data-v-5c646f],
mark[data-v-5c646f],
audio[data-v-5c646f],
video[data-v-5c646f] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-5c646f] {
  line-height: 1;
}
article[data-v-5c646f],
aside[data-v-5c646f],
details[data-v-5c646f],
figcaption[data-v-5c646f],
figure[data-v-5c646f],
footer[data-v-5c646f],
header[data-v-5c646f],
hgroup[data-v-5c646f],
menu[data-v-5c646f],
nav[data-v-5c646f],
section[data-v-5c646f] {
  display: block;
}
nav ul[data-v-5c646f] {
  list-style: none;
}
blockquote[data-v-5c646f],
q[data-v-5c646f] {
  quotes: none;
}
blockquote[data-v-5c646f]:before,
blockquote[data-v-5c646f]:after,
q[data-v-5c646f]:before,
q[data-v-5c646f]:after {
  content: '';
  content: none;
}
a[data-v-5c646f] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-5c646f] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-5c646f] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-5c646f] {
  text-decoration: line-through;
}
abbr[title][data-v-5c646f],
dfn[title][data-v-5c646f] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-5c646f] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-5c646f] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-5c646f],
select[data-v-5c646f] {
  vertical-align: middle;
}
img[data-v-5c646f],
video[data-v-5c646f] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-5c646f] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.section-title[data-v-5c646f] {
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-family: 'ComicSansMS3', 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.section-title[data-v-5c646f] {
    font-size: 12.266666666666666vw;
}
}

html[data-v-fe806a],
body[data-v-fe806a],
div[data-v-fe806a],
span[data-v-fe806a],
object[data-v-fe806a],
iframe[data-v-fe806a],
h1[data-v-fe806a],
h2[data-v-fe806a],
h3[data-v-fe806a],
h4[data-v-fe806a],
h5[data-v-fe806a],
h6[data-v-fe806a],
p[data-v-fe806a],
blockquote[data-v-fe806a],
pre[data-v-fe806a],
abbr[data-v-fe806a],
address[data-v-fe806a],
cite[data-v-fe806a],
code[data-v-fe806a],
del[data-v-fe806a],
dfn[data-v-fe806a],
em[data-v-fe806a],
img[data-v-fe806a],
ins[data-v-fe806a],
kbd[data-v-fe806a],
q[data-v-fe806a],
samp[data-v-fe806a],
small[data-v-fe806a],
strong[data-v-fe806a],
sub[data-v-fe806a],
sup[data-v-fe806a],
var[data-v-fe806a],
b[data-v-fe806a],
i[data-v-fe806a],
dl[data-v-fe806a],
dt[data-v-fe806a],
dd[data-v-fe806a],
ol[data-v-fe806a],
ul[data-v-fe806a],
li[data-v-fe806a],
fieldset[data-v-fe806a],
form[data-v-fe806a],
label[data-v-fe806a],
legend[data-v-fe806a],
table[data-v-fe806a],
caption[data-v-fe806a],
tbody[data-v-fe806a],
tfoot[data-v-fe806a],
thead[data-v-fe806a],
tr[data-v-fe806a],
th[data-v-fe806a],
td[data-v-fe806a],
article[data-v-fe806a],
aside[data-v-fe806a],
canvas[data-v-fe806a],
details[data-v-fe806a],
figcaption[data-v-fe806a],
figure[data-v-fe806a],
footer[data-v-fe806a],
header[data-v-fe806a],
hgroup[data-v-fe806a],
menu[data-v-fe806a],
nav[data-v-fe806a],
section[data-v-fe806a],
summary[data-v-fe806a],
time[data-v-fe806a],
mark[data-v-fe806a],
audio[data-v-fe806a],
video[data-v-fe806a] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-fe806a] {
  line-height: 1;
}
article[data-v-fe806a],
aside[data-v-fe806a],
details[data-v-fe806a],
figcaption[data-v-fe806a],
figure[data-v-fe806a],
footer[data-v-fe806a],
header[data-v-fe806a],
hgroup[data-v-fe806a],
menu[data-v-fe806a],
nav[data-v-fe806a],
section[data-v-fe806a] {
  display: block;
}
nav ul[data-v-fe806a] {
  list-style: none;
}
blockquote[data-v-fe806a],
q[data-v-fe806a] {
  quotes: none;
}
blockquote[data-v-fe806a]:before,
blockquote[data-v-fe806a]:after,
q[data-v-fe806a]:before,
q[data-v-fe806a]:after {
  content: '';
  content: none;
}
a[data-v-fe806a] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-fe806a] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-fe806a] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-fe806a] {
  text-decoration: line-through;
}
abbr[title][data-v-fe806a],
dfn[title][data-v-fe806a] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-fe806a] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-fe806a] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-fe806a],
select[data-v-fe806a] {
  vertical-align: middle;
}
img[data-v-fe806a],
video[data-v-fe806a] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-fe806a] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.wrapper[data-v-fe806a] {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
.wrapper[data-v-fe806a] {
    padding: 6.666666666666667vw;
}
}
.introduction[data-v-fe806a] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner[data-v-fe806a] {
  width: 500px;
}
@media screen and (max-width: 768px) {
.inner[data-v-fe806a] {
    width: 100%;
}
}
.title[data-v-fe806a] {
  margin: 0 auto 20px;
}
@media screen and (max-width: 768px) {
.title[data-v-fe806a] {
    margin: 0 auto 4vw;
}
}
.lead[data-v-fe806a] {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.lead[data-v-fe806a] {
    font-size: 3.733333333333334vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}
.introduction-slide[data-v-fe806a] {
  width: 100%;
}
.favorite-title[data-v-fe806a] {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
.favorite-title[data-v-fe806a] {
    font-size: 4.8vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}
.favorite-list[data-v-fe806a] {
  width: 100%;
}
.favorite-item[data-v-fe806a] {
  width: 100%;
  display: flex;
  align-items: center;
}
.favorite-item + .favorite-item[data-v-fe806a] {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
.favorite-item + .favorite-item[data-v-fe806a] {
    margin-top: 1.6vw;
}
}
.key[data-v-fe806a] {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
.key[data-v-fe806a]::after {
  content: "：";
  display: inline-block;
}
@media screen and (max-width: 768px) {
.key[data-v-fe806a] {
    font-size: 3.733333333333334vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}
.value[data-v-fe806a] {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.value[data-v-fe806a] {
    font-size: 3.733333333333334vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}

html[data-v-30bf5a],
body[data-v-30bf5a],
div[data-v-30bf5a],
span[data-v-30bf5a],
object[data-v-30bf5a],
iframe[data-v-30bf5a],
h1[data-v-30bf5a],
h2[data-v-30bf5a],
h3[data-v-30bf5a],
h4[data-v-30bf5a],
h5[data-v-30bf5a],
h6[data-v-30bf5a],
p[data-v-30bf5a],
blockquote[data-v-30bf5a],
pre[data-v-30bf5a],
abbr[data-v-30bf5a],
address[data-v-30bf5a],
cite[data-v-30bf5a],
code[data-v-30bf5a],
del[data-v-30bf5a],
dfn[data-v-30bf5a],
em[data-v-30bf5a],
img[data-v-30bf5a],
ins[data-v-30bf5a],
kbd[data-v-30bf5a],
q[data-v-30bf5a],
samp[data-v-30bf5a],
small[data-v-30bf5a],
strong[data-v-30bf5a],
sub[data-v-30bf5a],
sup[data-v-30bf5a],
var[data-v-30bf5a],
b[data-v-30bf5a],
i[data-v-30bf5a],
dl[data-v-30bf5a],
dt[data-v-30bf5a],
dd[data-v-30bf5a],
ol[data-v-30bf5a],
ul[data-v-30bf5a],
li[data-v-30bf5a],
fieldset[data-v-30bf5a],
form[data-v-30bf5a],
label[data-v-30bf5a],
legend[data-v-30bf5a],
table[data-v-30bf5a],
caption[data-v-30bf5a],
tbody[data-v-30bf5a],
tfoot[data-v-30bf5a],
thead[data-v-30bf5a],
tr[data-v-30bf5a],
th[data-v-30bf5a],
td[data-v-30bf5a],
article[data-v-30bf5a],
aside[data-v-30bf5a],
canvas[data-v-30bf5a],
details[data-v-30bf5a],
figcaption[data-v-30bf5a],
figure[data-v-30bf5a],
footer[data-v-30bf5a],
header[data-v-30bf5a],
hgroup[data-v-30bf5a],
menu[data-v-30bf5a],
nav[data-v-30bf5a],
section[data-v-30bf5a],
summary[data-v-30bf5a],
time[data-v-30bf5a],
mark[data-v-30bf5a],
audio[data-v-30bf5a],
video[data-v-30bf5a] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-30bf5a] {
  line-height: 1;
}
article[data-v-30bf5a],
aside[data-v-30bf5a],
details[data-v-30bf5a],
figcaption[data-v-30bf5a],
figure[data-v-30bf5a],
footer[data-v-30bf5a],
header[data-v-30bf5a],
hgroup[data-v-30bf5a],
menu[data-v-30bf5a],
nav[data-v-30bf5a],
section[data-v-30bf5a] {
  display: block;
}
nav ul[data-v-30bf5a] {
  list-style: none;
}
blockquote[data-v-30bf5a],
q[data-v-30bf5a] {
  quotes: none;
}
blockquote[data-v-30bf5a]:before,
blockquote[data-v-30bf5a]:after,
q[data-v-30bf5a]:before,
q[data-v-30bf5a]:after {
  content: '';
  content: none;
}
a[data-v-30bf5a] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-30bf5a] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-30bf5a] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-30bf5a] {
  text-decoration: line-through;
}
abbr[title][data-v-30bf5a],
dfn[title][data-v-30bf5a] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-30bf5a] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-30bf5a] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-30bf5a],
select[data-v-30bf5a] {
  vertical-align: middle;
}
img[data-v-30bf5a],
video[data-v-30bf5a] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-30bf5a] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.wrapper[data-v-30bf5a] {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
.wrapper[data-v-30bf5a] {
    padding: 6.666666666666667vw;
}
}
.skillset[data-v-30bf5a] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner[data-v-30bf5a] {
  width: 500px;
}
@media screen and (max-width: 768px) {
.inner[data-v-30bf5a] {
    width: 100%;
}
}
.title[data-v-30bf5a] {
  margin: 0 auto 20px;
}
@media screen and (max-width: 768px) {
.title[data-v-30bf5a] {
    margin: 0 auto 4vw;
}
}
.skillset-list[data-v-30bf5a] {
  width: 100%;
  text-align: center;
}
.skillset-item[data-v-30bf5a] {
  display: inline-block;
}
.skillset-item:not(:last-of-type) p.skillset-text[data-v-30bf5a]::after {
  font-size: 16px;
  content: "/";
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
.skillset-item:not(:last-of-type) p.skillset-text[data-v-30bf5a]::after {
    font-size: 4.266666666666667vw;
    margin: 0 1.6vw;
}
}
.skillset-text[data-v-30bf5a] {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.09em;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.skillset-text[data-v-30bf5a] {
    font-size: 4.8vw;
    line-height: 1.8;
    letter-spacing: 0.09em;
}
}

html[data-v-836d0e],
body[data-v-836d0e],
div[data-v-836d0e],
span[data-v-836d0e],
object[data-v-836d0e],
iframe[data-v-836d0e],
h1[data-v-836d0e],
h2[data-v-836d0e],
h3[data-v-836d0e],
h4[data-v-836d0e],
h5[data-v-836d0e],
h6[data-v-836d0e],
p[data-v-836d0e],
blockquote[data-v-836d0e],
pre[data-v-836d0e],
abbr[data-v-836d0e],
address[data-v-836d0e],
cite[data-v-836d0e],
code[data-v-836d0e],
del[data-v-836d0e],
dfn[data-v-836d0e],
em[data-v-836d0e],
img[data-v-836d0e],
ins[data-v-836d0e],
kbd[data-v-836d0e],
q[data-v-836d0e],
samp[data-v-836d0e],
small[data-v-836d0e],
strong[data-v-836d0e],
sub[data-v-836d0e],
sup[data-v-836d0e],
var[data-v-836d0e],
b[data-v-836d0e],
i[data-v-836d0e],
dl[data-v-836d0e],
dt[data-v-836d0e],
dd[data-v-836d0e],
ol[data-v-836d0e],
ul[data-v-836d0e],
li[data-v-836d0e],
fieldset[data-v-836d0e],
form[data-v-836d0e],
label[data-v-836d0e],
legend[data-v-836d0e],
table[data-v-836d0e],
caption[data-v-836d0e],
tbody[data-v-836d0e],
tfoot[data-v-836d0e],
thead[data-v-836d0e],
tr[data-v-836d0e],
th[data-v-836d0e],
td[data-v-836d0e],
article[data-v-836d0e],
aside[data-v-836d0e],
canvas[data-v-836d0e],
details[data-v-836d0e],
figcaption[data-v-836d0e],
figure[data-v-836d0e],
footer[data-v-836d0e],
header[data-v-836d0e],
hgroup[data-v-836d0e],
menu[data-v-836d0e],
nav[data-v-836d0e],
section[data-v-836d0e],
summary[data-v-836d0e],
time[data-v-836d0e],
mark[data-v-836d0e],
audio[data-v-836d0e],
video[data-v-836d0e] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-836d0e] {
  line-height: 1;
}
article[data-v-836d0e],
aside[data-v-836d0e],
details[data-v-836d0e],
figcaption[data-v-836d0e],
figure[data-v-836d0e],
footer[data-v-836d0e],
header[data-v-836d0e],
hgroup[data-v-836d0e],
menu[data-v-836d0e],
nav[data-v-836d0e],
section[data-v-836d0e] {
  display: block;
}
nav ul[data-v-836d0e] {
  list-style: none;
}
blockquote[data-v-836d0e],
q[data-v-836d0e] {
  quotes: none;
}
blockquote[data-v-836d0e]:before,
blockquote[data-v-836d0e]:after,
q[data-v-836d0e]:before,
q[data-v-836d0e]:after {
  content: '';
  content: none;
}
a[data-v-836d0e] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-836d0e] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-836d0e] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-836d0e] {
  text-decoration: line-through;
}
abbr[title][data-v-836d0e],
dfn[title][data-v-836d0e] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-836d0e] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-836d0e] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-836d0e],
select[data-v-836d0e] {
  vertical-align: middle;
}
img[data-v-836d0e],
video[data-v-836d0e] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-836d0e] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.wrapper[data-v-836d0e] {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
.wrapper[data-v-836d0e] {
    padding: 6.666666666666667vw;
}
}
.other[data-v-836d0e] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner[data-v-836d0e] {
  width: 500px;
}
@media screen and (max-width: 768px) {
.inner[data-v-836d0e] {
    width: 100%;
}
}
.title[data-v-836d0e] {
  margin: 0 auto 20px;
}
@media screen and (max-width: 768px) {
.title[data-v-836d0e] {
    margin: 0 auto 4vw;
}
}
.other-list[data-v-836d0e] {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
.other-list[data-v-836d0e] {
    width: 100%;
}
}
.other-item[data-v-836d0e] {
  width: 100%;
  text-align: center;
}
.other-item + .other-item[data-v-836d0e] {
  margin-top: 20px;
}
.other-item-title[data-v-836d0e] {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
  position: relative;
  padding-right: 20px;
  display: inline-block;
  margin: 0 auto 15px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 768px) {
.other-item-title[data-v-836d0e] {
    font-size: 4.8vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}
.other-item-title[data-v-836d0e]::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  border: 1px solid #fff;
}
.other-item-title[data-v-836d0e]::after {
  position: absolute;
  top: 38%;
  right: -2px;
  transform: translate(0, -50%);
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.ohter-item-lead[data-v-836d0e] {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-align: left;
  color: #fff;
  font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}
@media screen and (max-width: 768px) {
.ohter-item-lead[data-v-836d0e] {
    font-size: 3.733333333333334vw;
    line-height: 1.8;
    letter-spacing: 0.12em;
}
}

html[data-v-4c52fe],
body[data-v-4c52fe],
div[data-v-4c52fe],
span[data-v-4c52fe],
object[data-v-4c52fe],
iframe[data-v-4c52fe],
h1[data-v-4c52fe],
h2[data-v-4c52fe],
h3[data-v-4c52fe],
h4[data-v-4c52fe],
h5[data-v-4c52fe],
h6[data-v-4c52fe],
p[data-v-4c52fe],
blockquote[data-v-4c52fe],
pre[data-v-4c52fe],
abbr[data-v-4c52fe],
address[data-v-4c52fe],
cite[data-v-4c52fe],
code[data-v-4c52fe],
del[data-v-4c52fe],
dfn[data-v-4c52fe],
em[data-v-4c52fe],
img[data-v-4c52fe],
ins[data-v-4c52fe],
kbd[data-v-4c52fe],
q[data-v-4c52fe],
samp[data-v-4c52fe],
small[data-v-4c52fe],
strong[data-v-4c52fe],
sub[data-v-4c52fe],
sup[data-v-4c52fe],
var[data-v-4c52fe],
b[data-v-4c52fe],
i[data-v-4c52fe],
dl[data-v-4c52fe],
dt[data-v-4c52fe],
dd[data-v-4c52fe],
ol[data-v-4c52fe],
ul[data-v-4c52fe],
li[data-v-4c52fe],
fieldset[data-v-4c52fe],
form[data-v-4c52fe],
label[data-v-4c52fe],
legend[data-v-4c52fe],
table[data-v-4c52fe],
caption[data-v-4c52fe],
tbody[data-v-4c52fe],
tfoot[data-v-4c52fe],
thead[data-v-4c52fe],
tr[data-v-4c52fe],
th[data-v-4c52fe],
td[data-v-4c52fe],
article[data-v-4c52fe],
aside[data-v-4c52fe],
canvas[data-v-4c52fe],
details[data-v-4c52fe],
figcaption[data-v-4c52fe],
figure[data-v-4c52fe],
footer[data-v-4c52fe],
header[data-v-4c52fe],
hgroup[data-v-4c52fe],
menu[data-v-4c52fe],
nav[data-v-4c52fe],
section[data-v-4c52fe],
summary[data-v-4c52fe],
time[data-v-4c52fe],
mark[data-v-4c52fe],
audio[data-v-4c52fe],
video[data-v-4c52fe] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-4c52fe] {
  line-height: 1;
}
article[data-v-4c52fe],
aside[data-v-4c52fe],
details[data-v-4c52fe],
figcaption[data-v-4c52fe],
figure[data-v-4c52fe],
footer[data-v-4c52fe],
header[data-v-4c52fe],
hgroup[data-v-4c52fe],
menu[data-v-4c52fe],
nav[data-v-4c52fe],
section[data-v-4c52fe] {
  display: block;
}
nav ul[data-v-4c52fe] {
  list-style: none;
}
blockquote[data-v-4c52fe],
q[data-v-4c52fe] {
  quotes: none;
}
blockquote[data-v-4c52fe]:before,
blockquote[data-v-4c52fe]:after,
q[data-v-4c52fe]:before,
q[data-v-4c52fe]:after {
  content: '';
  content: none;
}
a[data-v-4c52fe] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-4c52fe] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-4c52fe] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-4c52fe] {
  text-decoration: line-through;
}
abbr[title][data-v-4c52fe],
dfn[title][data-v-4c52fe] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-4c52fe] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-4c52fe] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-4c52fe],
select[data-v-4c52fe] {
  vertical-align: middle;
}
img[data-v-4c52fe],
video[data-v-4c52fe] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-4c52fe] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.circles[data-v-4c52fe] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 630px;
  height: 630px;
  backface-visibility: hidden;
}
@media screen and (max-width: 768px) {
.circles[data-v-4c52fe] {
    width: 106.66666666666667vw;
    height: 106.66666666666667vw;
}
}
.circles[data-v-4c52fe]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 625px;
  height: 625px;
  background: #000;
  border-radius: 50%;
  z-index: 2;
  backface-visibility: hidden;
}
@media screen and (max-width: 768px) {
.circles[data-v-4c52fe]::before {
    width: 105.33333333333333vw;
    height: 105.33333333333333vw;
}
}
.circle[data-v-4c52fe] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.3;
  animation-name: border-animations-data-v-4c52fe;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circle.is-1[data-v-4c52fe] {
  border-radius: 50% 80% 60% 90%/45% 90% 40% 85%;
  animation-duration: 1.1s;
}
.circle.is-2[data-v-4c52fe] {
  border-radius: 55% 75% 65% 85%/50% 85% 45% 80%;
  animation-duration: 1.2s;
}
.circle.is-3[data-v-4c52fe] {
  border-radius: 60% 70% 70% 80%/55% 80% 50% 75%;
  animation-duration: 1.3s;
}
.circle.is-4[data-v-4c52fe] {
  border-radius: 65% 65% 75% 75%/60% 75% 55% 70%;
  animation-duration: 1.4s;
}
.circle.is-5[data-v-4c52fe] {
  border-radius: 70% 60% 80% 70%/65% 70% 60% 65%;
  animation-duration: 1.5s;
}
.circle.is-6[data-v-4c52fe] {
  border-radius: 75% 55% 85% 65%/70% 65% 65% 60%;
  animation-duration: 1.6s;
}
.circle.is-7[data-v-4c52fe] {
  border-radius: 80% 50% 90% 60%/75% 60% 70% 55%;
  animation-duration: 1.7s;
}
.circle.is-8[data-v-4c52fe] {
  border-radius: 85% 45% 95% 55%/80% 55% 75% 50%;
  animation-duration: 1.8s;
}
.circle.is-9[data-v-4c52fe] {
  border-radius: 90% 40% 100% 50%/85% 50% 80% 45%;
  animation-duration: 1.9s;
}
.circle.is-10[data-v-4c52fe] {
  border-radius: 95% 35% 105% 45%/90% 45% 85% 50%;
  animation-duration: 2s;
}
@-moz-keyframes border-animations-data-v-4c52fe {
from {
    transform: translate(-50%, -50%) rotate(0deg);
}
to {
    transform: translate(-50%, -50%) rotate(360deg);
}
}
@-webkit-keyframes border-animations-data-v-4c52fe {
from {
    transform: translate(-50%, -50%) rotate(0deg);
}
to {
    transform: translate(-50%, -50%) rotate(360deg);
}
}
@-o-keyframes border-animations-data-v-4c52fe {
from {
    transform: translate(-50%, -50%) rotate(0deg);
}
to {
    transform: translate(-50%, -50%) rotate(360deg);
}
}
@keyframes border-animations-data-v-4c52fe {
from {
    transform: translate(-50%, -50%) rotate(0deg);
}
to {
    transform: translate(-50%, -50%) rotate(360deg);
}
}

html[data-v-e83580],
body[data-v-e83580],
div[data-v-e83580],
span[data-v-e83580],
object[data-v-e83580],
iframe[data-v-e83580],
h1[data-v-e83580],
h2[data-v-e83580],
h3[data-v-e83580],
h4[data-v-e83580],
h5[data-v-e83580],
h6[data-v-e83580],
p[data-v-e83580],
blockquote[data-v-e83580],
pre[data-v-e83580],
abbr[data-v-e83580],
address[data-v-e83580],
cite[data-v-e83580],
code[data-v-e83580],
del[data-v-e83580],
dfn[data-v-e83580],
em[data-v-e83580],
img[data-v-e83580],
ins[data-v-e83580],
kbd[data-v-e83580],
q[data-v-e83580],
samp[data-v-e83580],
small[data-v-e83580],
strong[data-v-e83580],
sub[data-v-e83580],
sup[data-v-e83580],
var[data-v-e83580],
b[data-v-e83580],
i[data-v-e83580],
dl[data-v-e83580],
dt[data-v-e83580],
dd[data-v-e83580],
ol[data-v-e83580],
ul[data-v-e83580],
li[data-v-e83580],
fieldset[data-v-e83580],
form[data-v-e83580],
label[data-v-e83580],
legend[data-v-e83580],
table[data-v-e83580],
caption[data-v-e83580],
tbody[data-v-e83580],
tfoot[data-v-e83580],
thead[data-v-e83580],
tr[data-v-e83580],
th[data-v-e83580],
td[data-v-e83580],
article[data-v-e83580],
aside[data-v-e83580],
canvas[data-v-e83580],
details[data-v-e83580],
figcaption[data-v-e83580],
figure[data-v-e83580],
footer[data-v-e83580],
header[data-v-e83580],
hgroup[data-v-e83580],
menu[data-v-e83580],
nav[data-v-e83580],
section[data-v-e83580],
summary[data-v-e83580],
time[data-v-e83580],
mark[data-v-e83580],
audio[data-v-e83580],
video[data-v-e83580] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body[data-v-e83580] {
  line-height: 1;
}
article[data-v-e83580],
aside[data-v-e83580],
details[data-v-e83580],
figcaption[data-v-e83580],
figure[data-v-e83580],
footer[data-v-e83580],
header[data-v-e83580],
hgroup[data-v-e83580],
menu[data-v-e83580],
nav[data-v-e83580],
section[data-v-e83580] {
  display: block;
}
nav ul[data-v-e83580] {
  list-style: none;
}
blockquote[data-v-e83580],
q[data-v-e83580] {
  quotes: none;
}
blockquote[data-v-e83580]:before,
blockquote[data-v-e83580]:after,
q[data-v-e83580]:before,
q[data-v-e83580]:after {
  content: '';
  content: none;
}
a[data-v-e83580] {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins[data-v-e83580] {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark[data-v-e83580] {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del[data-v-e83580] {
  text-decoration: line-through;
}
abbr[title][data-v-e83580],
dfn[title][data-v-e83580] {
  border-bottom: 1px dotted;
  cursor: help;
}
table[data-v-e83580] {
  border-collapse: collapse;
  border-spacing: 0;
}
hr[data-v-e83580] {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[data-v-e83580],
select[data-v-e83580] {
  vertical-align: middle;
}
img[data-v-e83580],
video[data-v-e83580] {
  line-height: 0;
  font-size: 0;
}
figure[data-v-e83580] {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
.wrapper[data-v-e83580] {
  width: 100%;
}
.anchor-list[data-v-e83580] {
  width: 100%;
}
.anchor-item[data-v-e83580] {
  width: 100%;
  text-align: right;
}
.anchor-item[data-v-e83580]:not(:last-of-type) {
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
.anchor-item[data-v-e83580]:not(:last-of-type) {
    margin-bottom: 1.333333333333333vw;
}
}
.anchor-link[data-v-e83580] {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  color: #555;
  font-family: 'ComicSansMS3', 'Hiragino Maru Gothic ProN', sans-serif;
  transition: color 0.4s ease-in-out;
  position: relative;
}
@media screen and (max-width: 768px) {
.anchor-link[data-v-e83580] {
    font-size: 4.8vw;
    line-height: 1.25;
}
}
.active .anchor-link[data-v-e83580] {
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.active .anchor-link[data-v-e83580]::before {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 7px solid #fff;
}
@media screen and (max-width: 768px) {
.active .anchor-link[data-v-e83580]::before {
    left: -4vw;
    border: 1.333333333333333vw solid transparent;
    border-left: 1.866666666666667vw solid #fff;
}
}

@charset 'UTF-8';
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
img,
video {
  line-height: 0;
  font-size: 0;
}
figure {
  font-size: 0;
  line-height: 0;
}
@font-face {
  font-family: "ComicSansMS3";
  src: url("ComicSansMS3.bf1ff8c5.woff");
}
body {
  background: #000;
  overflow: hidden;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fadeup-enter-active,
.fadeup-leave-active {
  transition: opacity 0.5s 0.2s, transform 0.4s 0.2s;
}
.fadeup-enter,
.fadeup-leave-to {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}
.u-is-pc {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .u-is-pc {
    display: none !important;
  }
}
.u-is-sp {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .u-is-sp {
    display: block !important;
  }
}
main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}
section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.4;
  transition: opacity 0.4s ease-out;
  pointer-events: none;
}
.circle.show-section-1 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.Anchor {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .Anchor {
    right: 5.333333333333334vw;
    bottom: 5.333333333333334vw;
  }
}

